@use "../../variables" as *;
@use "../../mixins" as *;

.activity-container-ghub {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.ghub-wrapper-left {
    padding-right: $global-padding;
}

.ghub-container-dummy-months {
    height: $cell-size;
    margin-top: calc($global-padding / 2);
}

.ghub-container-weekday {
    @include grid-cell-row;

    padding-top: $global-padding;
}

.ghub-weekday {
    @include right-text-08;
}

.ghub-wrapper-right {
    overflow-x: scroll;

    padding-left: $global-padding;
}

.ghub-container-month {
    @include grid-cell;
    grid-auto-flow: column;

    padding-top: calc($global-padding / 2);
}

.ghub-month {
    height: $cell-size;

    @include center-text-08;
}

.ghub-container-cells {
    @include grid-cell-row;
    grid-auto-flow: column;

    padding: $global-padding 0px;
}

.ghub-container-weeknum {
    @include grid-cell;
    grid-auto-flow: column;

    padding-bottom: $global-padding;
}

.ghub-weeknum {
    @include cell-size;
    @include center-text-08;
}